body {
  background-color: #7359dc;
}

#contactForm {
  border: 5px solid rgb(2, 2, 2);
  width: 500px;
  height: 696px;
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: #e5e5e5;
  border-radius: 5%;
  box-shadow: 15px 15px 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 22px;
}
#contactForm h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(245, 74, 74);
  text-shadow: 1px 1px 2px black, 0 0 0.1em blue, 0 0 0.1em blue;
  margin-bottom: 18px;
}

label input {
  width: 420px;
  height: 40px;
  border: black solid 1px;
  border-radius: 25px;
  box-shadow: 8px 8px 2px 4px;
}

input::placeholder {
  color: rgb(245, 74, 74);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  text-shadow: 1px 1px 2px black, 0 0 0.1em blue, 0 0 0.1em blue;
}

input {
  text-indent: 30px;
}

textarea::placeholder {
  color: rgb(245, 74, 74);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 16px;
  font-style: italic;
  font-weight: 400;
  text-shadow: 1px 1px 2px black, 0 0 0.1em blue, 0 0 0.1em blue;
}

textarea {
  width: 420px;
  height: 200px;
  border: black solid 2px;
  border-radius: 25px;
  box-shadow: 8px 8px 2px 4px;
  text-indent: 30px;
}

.last {
  display: flex;
}

.last button {
  width: 420px;
  height: 50px;
  background-color: #7359dc;
  color: black;
  border-radius: 25px;
  font-size: 22px;
  font-weight: 700;
  margin: auto;
  box-shadow: 8px 8px 2px 4px;
  border: black solid 2px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px rgb(245, 74, 74), 0 0 1em rgb(245, 74, 74),
    0 0 0.2em rgb(245, 74, 74);
}
.last button:active {
  transform: translateY(2px);
}
.fa-paper-plane {
  font-size: 30px;
}
